[submodule "host/hosting-happs"]
	path = host/hosting-happs
	url = git@github.com:Holo-Host/holo-host.git
[submodule "host/hosted-happs/sample-app-1"]
	path = host/hosted-happs/sample-app-1
	url = git@github.com:Holo-Host/holojs-sample-app.git
